#dépendance générale
/ressources/
/vendor/
/test/
/devoir/
/old.www/
/controllers/test.php
/pages/form/formTrajet.php
/pages/TestView.php

# fichier de configuration
.env
.env.local
/sql/localUser.sql
.vscode/