<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        colors="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>src/tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="DB_HOST" value="localhost"/>
        <env name="DB_NAME" value="test_covoiturage_interne"/>
        <env name="DB_USER_RS" value="r_service"/>
        <env name="DB_PASSWORD_RS" value="r_service_mdp"/>
        <env name="DB_USER_APP" value="u_app"/>
        <env name="DB_PASSWORD_APP" value="u_app_mdp"/>
        <env name="DB_USER_ADMIN" value="a_app"/>
        <env name="DB_PASSWORD_ADMIN" value="a_app_mdp"/>
    </php>
</phpunit>