.trajet-fieldset {
    color:navy;
    border: 2px dashed navy;
}
.info-utilisateur {
    display: flex;
    flex-direction: row;
    border: 1px solid lightskyblue;
    padding: 10px;
}
    .info-utilisateur div {
        margin-right: 40px;
    }

.info-trajet {
    display: flex;
    flex-direction: row;
    border: 1px solid lightskyblue;
    padding: 10px;
}
    .info-trajet div {
        margin-right: 40px;
    }

.info-place {
    display: flex;
    flex-direction: row;
    border: 1px solid lightskyblue;
    padding: 10px;

}
    .info-place div {
        margin-right: 40px;;
    }

.btn-action {
    display: flex;
    flex-direction: row;
    border: 1px solid lightskyblue;
    padding: 10px;
}
    .btn-action button {
        margin-right: 40px;
    }